<div id="mcqa_list">
  <%= turbo_stream_from "mcqs_list" %>
  </div>
<%= simple_form_for mcq, html: { class: "mcq form" } do |f| %>
  <% if mcq.errors.any? %>
    <div class="error-message">
      <%= mcq.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :question, input_html: { autofocus: true } %>
   <%= f.input :option1, input_html: { autofocus: true } %>
    <%= f.input :option2, input_html: { autofocus: true } %>
     <%= f.input :option3, input_html: { autofocus: true } %>
      <%= f.input :option4, input_html: { autofocus: true } %>
       <%= f.input :correct_option, input_html: { autofocus: true } %>
        <%= f.input :course_id, input_html: { autofocus: true } %>
  <%= link_to "Cancel", mcqs_path, class: "btn btn--light" %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>
