<!--<h1 style="font-size: 50px; text-align:center">MCQ Questions</h1>

<% @mcqs.each do |mcq| %>
  <div class="mcq" style="margin-bottom: 20px; border: 1px solid #ccc; padding: 10px;">
    <h1 style="font-size: 38px; margin-bottom: 10px;"><%= mcq.question.capitalize %></h1>
    <ul>
      <li style="margin-bottom: 5px;"><strong>Option 1: </strong><%= mcq.option1 %></li>
      <li style="margin-bottom: 5px;"><strong>Option 2: </strong> <%= mcq.option2 %></li>
      <li style="margin-bottom: 5px;"><strong>Option 3: </strong><%= mcq.option3 %></li>
      <li style="margin-bottom: 5px;"><strong>Option 4: </strong> <%= mcq.option4 %></li>

      <%= form_for mcq, url: mcq_path(mcq), method: :patch do |f| %>
        <div class="field">
          <%= f.label :given_answer, "Your Answer:", style: "font-weight: bold;" %><br>
          <%= f.text_field :given_answer, style: "width: 100%;" %>
        </div>
        <div class="actions">
          <%= f.submit "Submit", style: "background-color: #007bff; color: #fff; padding: 5px 10px; border: none;" %>
        </div>
      <% end %>
    </ul>
  </div>
<% end %>
<% if can? :create, @mcq %>
<%= link_to "Add New MCQ", new_mcq_path, style: "font-size: 16px; background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none; border-radius: 3px;" %>
<%end%>
<%= link_to "Back" , root_path, class: "btn btn-outline-info"%>-->


<div style="text-align:center">
  <div class="mcq">
    <div class="header">
    <% if can? :create, @mcq %>
      <%= link_to "New mcq",new_mcq_path,class: "btn btn--primary", data: { turbo_frame: dom_id(Mcq.new) } %>
      <%end%>
    </div>
    <%= turbo_frame_tag Mcq.new %>
    <%= turbo_frame_tag "mcq_frame" do %>
      <%= render 'mcqs'%>
    <% end %>
<%= turbo_stream_from @mcqs %>  </div>
</div>