<div style="text-align:center">
<h1>Create a New MCQ</h1>

<%= form_for @mcq do |f| %>
  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </div>
  
  <div class="field">
    <%= f.label :option1 %><br>
    <%= f.text_field :option1 %>
  </div>
  
  <div class="field">
    <%= f.label :option2 %><br>
    <%= f.text_field :option2 %>
  </div>
  
  <div class="field">
    <%= f.label :option3 %><br>
    <%= f.text_field :option3 %>
  </div>
   <div class="field">
    <%= f.label :option4 %><br>
    <%= f.text_field :option4 %>
  </div>
  <div class="field">
    <%= f.label :correct_option %><br>
    <%= f.number_field :correct_option %>
  </div>
   <div class="field"><br>
    <%= f.label :course_id, 'Course' %>
    <%= f.number_field :course_id %>
  </div>

<div class="actions">
    <%= f.submit "Create MCQ" %>
  </div>
<% end %>

<%= link_to "Back to MCQs", mcqs_path %>
</div>