<!--<div style="text-align:center">
<h1>Create a New MCQ</h1>

<%= form_for @mcq do |f| %>
  <div class="field">
    <%= f.label :question %><br>
    <%= f.text_field :question %>
  </div>
  
  <div class="field">
    <%= f.label :option1 %><br>
    <%= f.text_field :option1 %>
  </div>
  
  <div class="field">
    <%= f.label :option2 %><br>
    <%= f.text_field :option2 %>
  </div>
  
  <div class="field">
    <%= f.label :option3 %><br>
    <%= f.text_field :option3 %>
  </div>
   <div class="field">
    <%= f.label :option4 %><br>
    <%= f.text_field :option4 %>
  </div>
  <% if can? :create, @mcq %>
  <div class="field">
    <%= f.label :correct_option %><br>
    <%= f.number_field :correct_option %>
  </div>
  <% end %>
   <div class="field"><br>
    <%= f.label :course_id, 'Course' %><br>
    <%= f.number_field :course_id %>
  </div>
<% if can? :create, @mcq %>
<div class="actions">
    <%= f.submit "Create MCQ" %>
  </div>
<% end %>
<% end %>
<%= link_to "Back to MCQs", mcqs_path %>
</div>-->


<main class="container">
  <%= link_to sanitize("&larr; Back to mcq"), root_path %>

  <div class="header">
    <h1>New ProductLine</h1>
  </div>

  <%= turbo_frame_tag @mcq do %>
    <%= render "form", mcq: @mcq %>
  <% end %>
</main>
