<style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
    }

    .container {
      max-width: 800px;
      margin: 0 auto;
      padding: 20px;
      background-color: #ffffff;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
      border-radius: 5px;
    }

    h1 {
      text-align: center;
    }

    .dashboard-links {
      text-align: center;
      margin-top: 20px;
    }

    .dashboard-links a {
      display: block;
      margin-bottom: 10px;
      padding: 10px;
      text-decoration: none;
      background-color: #007bff;
      color: #ffffff;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    .dashboard-links a:hover {
      background-color: #0056b3;
    }

    .admin-link {
      text-align: center;
      margin-top: 20px;
    }

    .admin-link a {
      display: inline-block;
      padding: 10px 20px;
      text-decoration: none;
      background-color: #17a2b8;
      color: #ffffff;
      border: 1px solid #17a2b8;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    .admin-link a:hover {
      background-color: #128ca7;
    }
</style>
<br>
  <div class="container">
    <h1>Student Dashboard</h1>
    <div class="dashboard-links">
      <%= link_to "MCQ", mcqs_path %><br>
      <br>
      <%= link_to 'Enroll in this Course', new_enrollment_path(course_id: @course) %><br>
      <br>
      <%= link_to 'Essay', essays_path %><br>
      <br>
      <%= link_to 'COURSE', courses_path %>
    </div>
    <% if can? :update, @course %>
      <div class="admin-link">
        <%= link_to "Admin Index", admin_index_path, class: "btn btn-outline-info" %>
      </div>
    <% end %>
  </div>
