<style>
   
     h1 {
    text-align:center;
  	font-size: 5rem;
	  color: #FF6347;
	  font-family: cursive;
	  text-shadow: 6px 0 #40E0D8;
    }

   

     .card {
    display: inline-block;
    width: 300px; /* Adjust the width as needed */
    text-align: center;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    text-decoration: none;
    color: #333;
    background-color: #fff; /* Card background color */
    border: 1px solid #ccc;
    transition: transform 0.2s, box-shadow 0.2s; /* Add smooth transition */
  }

  .card:hover {
    transform: scale(1.05); /* Scale up the card on hover */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Add a box shadow on hover */
  }

  .card img {
    max-width: 100%;
    max-height: 150px; /* Adjust the height as needed */
    margin-bottom: 0px; /* Add space between the image and text */
  }
</style>
<br>
   <!--<div class="container">
    <h1>Student Dashboard</h1>
    <div class="dashboard-links">
      <%= link_to 'Enroll in this Course', new_enrollment_path(course_id: @course) %><br>
      <br>
    </div>

   <% if can? :access, @course %>
      <div class="admin-link">
        <%= link_to "Admin Index", admin_index_path, class: "btn btn-outline-info" %>
      </div>
    <% end %>
  </div>-->
<h1> Student Dashboard</h1>
 <div class="container">
  <div class="card">
    <a href="<%= courses_url %>">
      <img src="/assets/Course.png" alt="Image 1">
    </a>
  </div>
  <div class="card">
    <a href="<%= essays_url %>">
      <img src="/assets/essay.png" alt="Image 1">
    </a>
  </div>
    <div class="card">
    <a href="<%= mcqs_path %>">
      <img src="/assets/mcq.png" alt="Image 1">
    </a>
  </div><br>
   <div class="card">
    <a href="<%= new_enrollment_path(course_id: @course)  %>">
      <img src="/assets/enr.png" alt="Image 1">
    </a>
  </div>
  </div>
  <br><br><br>  <br><br><br>  