<h1 style="font-size: 50px; text-align:center; color:Salmon">ADMIN Dashboard</h1><br>
<div class="container">
  <%= link_to "New Essay", new_essay_path, class: "btn btn-outline-primary btn-block mb-3" %>
  <%= link_to "MCQs", mcqs_path, class: "btn btn-outline-warning btn-block mb-3" %>
  <%= link_to "Product Line", product_lines_url, class: "btn btn-outline-danger btn-block mb-3" %>
  <%= link_to "New Product Version", new_product_version_path, class: "btn btn-outline-info btn-block mb-3" %>
  <%= link_to "Create Course", new_course_path, class: "btn btn-outline-success btn-block mb-3" %>
  <%= link_to "Courses", courses_url, class: "btn btn-outline-secondary btn-block mb-3" %>
  <%= link_to "Create User", new_user_detail_path, class: "btn btn-outline-success btn-block mb-3" %>
  <%= link_to "Student Dashboard", root_path, class: "btn btn-outline-info btn-block mb-3" %>  


  <table class="table table-bordered custom-table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Email</th>
        <th>Role</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.email %></td>
          <td><%= user.role %></td>
          <td><%= link_to "Edit", edit_user_detail_url(user), class: "btn btn-primary" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>