<h1 style="font-size: 50px; text-align:center; color:Salmon">ADMIN Dashboard</h1><br>
<div class="container">
  <%= link_to "Essay", essays_url, class: "btn btn-outline-primary btn-block mb-3" %>
  <%= link_to "MCQs", mcqs_path, class: "btn btn-outline-warning btn-block mb-3" %>
  <%= link_to "Product Line", product_lines_url, class: "btn btn-outline-danger btn-block mb-3" %>
  <%= link_to "Product Version", product_versions_url, class: "btn btn-outline-info btn-block mb-3" %>
  <%= link_to "Courses", courses_url, class: "btn btn-outline-secondary btn-block mb-3" %>
  <%= link_to "Create User", user_details_url, class: "btn btn-outline-success btn-block mb-3" %>
  <%= link_to "Student Dashboard", root_path, class: "btn btn-outline-info btn-block mb-3" %>  


  
</div>