<!--<h1>All Product Lines</h1>

<ul>
  <% @product_lines.each do |product_line| %>
    <li><%= product_line.name %></li>
  <% end %>
</ul>
<%= link_to 'Back', new_product_line_path%>-->
<div style="text-align:center">
  <div class="product-line">
    <div class="header">
     <% if can? :create, @product_version %>
      <%= link_to "New ProductLine",new_product_line_path,class: "btn btn-outline-info", data: { turbo_frame: dom_id(ProductLine.new) } %>
      <% end %>
    </div>
    <%= turbo_frame_tag ProductLine.new %>
    <%= turbo_frame_tag "product_line_frame" do %>
      <%= render 'product_line'%>
    <% end %>
<%= turbo_stream_from @product_line %>  </div>
</div>