<h1 style="text-align:center">
<div style="text-align:center">
<h1>New Enrollment</h1>
<%= form_with(model: @enrollment, url: enrollments_path) do |form| %>
  <div class="field">
    <%= form.label :user_id, 'User ID' %><br>
    <%= form.text_field :user_id %>
  </div>

  <div class="field">
    <%= form.label :course_id, 'Course ID' %><br>
    <%= form.text_field :course_id %>
  </div>

  <div class="actions">
    <%= form.submit 'Enroll' %>
  </div>
<% end %>

<%= link_to 'Back', courses_path %>
</div>