<%= simple_form_for product_version, html: { class: "product-version form" } do |f| %>
  <% if product_version.errors.any? %>
    <div class="error-message">
      <%= product_version.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :name, input_html: { autofocus: true } %>
   <%= f.input :features, input_html: { autofocus: true } %>
  <%= link_to "Cancel", product_versions_path, class: "btn btn--light" %>
  <%= f.submit class: "btn btn--secondary" %>
<% end %>
