
<h1>New Product Version</h1>

<%= form_with(model: @product_version, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :features %>
    <%= form.text_area :features %>
  </div>

  <div class="actions">
    <%= form.submit 'Create Product Version' %>
  </div>
<% end %>

<%= link_to 'Back', product_versions_path %>
