

<%= form_with(model: @essay, url: essays_path) do |form| %>
   <div class="field">
    <%= form.label :course_id %>
    <%= form.text_area :course_id%>
  </div>
  <div class="field">
    <%= form.label :question %>
    <%= form.text_area :question %>
  </div>
  <div class="field">
    <%= form.label :answer %>
    <%= form.text_area :answer %>
  </div>
  <div class="actions">
    <%= form.submit 'Create Essay' %>
  </div>
<% end %>

