<style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f0f0f0;
      padding: 0px;
    }

    .course-card {
      background-color: #fff;
      border: 10px solid #F4A460;
      border-radius: 50px;
      margin: 10px;
      padding: 20px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .course-title {
      font-size: 50px;
      text-align: center;
      margin-bottom: 10px;
    }

    .course-details {
      margin-bottom: 10px;
    }

    .btn-container {
      text-align: left;
    }

    .btn {
      margin: 5px;
      padding: 10px 20px;
      text-align: left;
      text-decoration: none;
      border: none;
      border-radius: 5px;
      font-weight: bold;
      cursor: pointer;
    }

    .btn-primary {
      background-color: #007bff;
      color: #fff;
    }

    .btn-info {
      background-color: #17a2b8;
      color: #fff;
    }

    .btn-warning {
      background-color: #ffc107;
      color: #000;
    }
</style>



<br>



<!--<h2>Available Courses</h2>

<ul>
  <% @courses.each do |course| %>
    <div class="course-card"> 
  <h1><%= course.name %></h1>
  <p><strong>Start Date:</strong> <%= course.start_date %></p>
  <p><strong>End Date:</strong> <%= course.end_date %></p>

  <div class="btn-container">
    <%= link_to 'Back', courses_path , class: "btn btn-outline-danger"%>
    <% if can? :update, course %>
        <%= link_to 'Edit', edit_course_path(course), class: "btn btn-outline-primary" %>
        <% end %>
        <% if can? :update, course %>
        <%= link_to "Admin Index", admin_index_path, class: "btn btn-outline-info" %>
        <% end %>
        <% if can? :create, course %>
        <%= link_to "New Course", new_course_path, class: "btn btn-outline-warning" %>
        <% end %>
  </div>
</div>
  <% end %>
</ul>-->
  
  <%= form_tag courses_path, method: :get, id: "course-filter-form" do %>
    <label for="course_type">Course Type:</label>
    <%= select_tag :course_type, options_for_select(['All', 'Free', 'Paid', 'Custom'], params[:course_type]), id: "course-type-select" %>
  <%= submit_tag "Filter" %>
<% end %>
<div style="text-align:center">
  <div class="course form">
    <div class="header">
     <% if can? :create, @course %>
      <%= link_to "New course",new_course_path,class: "btn btn-outline-success", data: { turbo_frame: dom_id(Course.new) } %>
    <% end %>
    <%= turbo_frame_tag Course.new %>
    <%= turbo_frame_tag "course_frame" do %>
      <%= render 'course'%>
    <% end %>
<%= turbo_stream_from @course %>  </div>
</div>  
  </div>

