 <h1><%= @course.name %></h1>

  <p><strong>Start Date:</strong> <%= @course.start_date %></p>
  <p><strong>End Date:</strong> <%= @course.end_date %></p>

  <%= link_to 'Edit', edit_course_path(@course) %> |
  <%= link_to 'Back', courses_path %>
  <%= link_to "Admin Index", admin_index_path %>
  <%= link_to "New Course", new_course_path %>
