<!DOCTYPE html>
<html>
  <head>
    <title>Elearning</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body style="background-color:PapayaWhip	 ;">
  
  <nav class="navbar navbar-expand-lg navbar-red bg-dark fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand"href="<%= root_path if @user=current_user %>">E-LEARNING</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <% if can? :update, @course %>
        <%= link_to "Admin Index", admin_index_path, class: "btn btn-outline-info" %>
        <% end %>
        </li>
        <li class="nav-item">
          <%= form_tag(courses_path, method: "get") do %>
          <%= text_field_tag :search, params[:search] %>
          <%= submit_tag "Search" %>
           <% end %>
        </li>
       

          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
      </ul>
      
      <form class="d-flex">
        
      </form>
      
    </div>
       <% if user_signed_in? %>
       <h3 style="color:red"><%= current_user.role.capitalize%>-</h3>
       <h3 style="color:green"><%= current_user.email.capitalize%></h3>
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navabr-link btn btn-outline-info  rounded-0'%>
      <%= button_to 'Logout', destroy_user_session_path, method: :delete, class: 'navbar-link btn btn-outline-danger  rounded-0', data: { turbo_frame: 'navbar', turbo_method: :delete } %>
    <% else %>
      <%= link_to 'Sign up', new_user_registration_path, :class => 'navabr-link btn btn-outline-success rounded-0 '%>
     <%= link_to 'Login', new_user_session_path, :class => 'navabr-link btn btn-success rounded-0 '%>
     <%end%>
  </div>
</nav> 
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

    <%= yield %>
<div class="container-fluid my-5"> 

  <footer class="text-center text-white" style="background-color: #caced1;">
    <div class="container p-4">
      <!-- Section: Images -->
      <section class="">
        <div class="row">
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img
                   src="https://mdbootstrap.com/img/new/fluid/city/113.jpg"
                   class="w-100"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img
                   src="https://mdbootstrap.com/img/new/fluid/city/111.jpg"
                   class="w-100"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img
                   src="https://mdbootstrap.com/img/new/fluid/city/112.jpg"
                   class="w-100"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img
                   src="https://mdbootstrap.com/img/new/fluid/city/114.jpg"
                   class="w-100"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img
                   src="https://mdbootstrap.com/img/new/fluid/city/115.jpg"
                   class="w-100"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
          <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
            <div
                 class="bg-image hover-overlay ripple shadow-1-strong rounded"
                 data-ripple-color="light"
                 >
              <img
                   src="https://mdbootstrap.com/img/new/fluid/city/116.jpg"
                   class="w-100"
                   />
              <a href="#!">
                <div
                     class="mask"
                     style="background-color: rgba(251, 251, 251, 0.2);"
                     ></div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <!-- Section: Images -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2020 Copyright:
      <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
    </div>
    <!-- Copyright -->
  </footer>

</div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>
