<!--
<style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #f0f0f0;
    }

    header {
      background-color: #333;
      color: #fff;
      text-align: center;
      padding: 20px 0;
    }

    .container {
      max-width: 800px;
      margin: 20px auto;
      background-color: #fff;
      padding: 20px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h1 {
      font-size: 50px;
      text-align: center
    }

    p {
      margin-bottom: 10px;
    }

    label {
      font-weight: bold;
    }

    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 3px;
      resize: vertical;
    }

    input[type="submit"] {
      background-color: #007BFF;
      color: #fff;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 3px;
    }

    input[type="submit"]:hover {
      background-color: #0056b3;
    }
</style>
<h1 >Essay</h1>
<div class="container">
  <% @essays.each do |essay| %>
    <%= form_for essay do |f| %>
      <p><strong>Question:</strong><%= essay.question %></p>
      <div class="form-group">
        <%= f.label :answer %>
        <%= f.text_area :answer, rows: 4 %>
      </div>
      <div class="form-group">
        <%= f.submit "Submit" %>
      </div>
    <% end %>
  <% end %>
</div>-->

<div style="text-align:center">
  <div class="essay">
    <div class="header">
    <% if can? :create, @mcq %>
      <%= link_to "New  Essay",new_essay_path,class: "btn btn--primary", data: { turbo_frame: dom_id(Essay.new) } %>
      <%end%>
    </div>
    <%= turbo_frame_tag Essay.new %>
    <%= turbo_frame_tag "essay_frame" do %>
      <%= render 'essay'%>
    <% end %>
    <%= turbo_stream_from @essays %>  
  </div>
</div>
